<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div>
            <img src="~/img/logo.png" alt="SignalR" />
        </div>
    </header>

    <main role="main" class="inner cover">
        <div class="mb-auto">
            <h2 class="lead">Ejemplos de uso de SignalR en aplicacion .Net</h2>
        </div>
        <div class="menuprincipal">
            <a asp-controller="Movimiento" asp-action="Movimiento" class="btn btn-primary btn-lg btn-block">Movimiento en tiempo real</a>
            <a asp-controller="Chat" asp-action="Inicio" class="btn btn-primary btn-lg btn-block">Chat</a>
        </div>
    </main>

<footer class="mastfoot mt-auto">
    <div class="inner">
        &copy; 2022 - SignalR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

</div>
